:root {
  --bg-color:#2a2a2a;
  --primary-color: #b1dd00;
  --secundary-color:#143954;
  --third-color:#62828f;
  --bg-input-color:rgba(255,255,255,0.1);
}

/* ( * )selector universal --> Se aplica a todos los elementos de mi archivo */

* {
  margin:0;
  padding: 0;
  box-sizing: border-box;
}

body {
background-color: var(--bg-color);
font-family: "Nunito", sans-serif;
font-optical-sizing: auto;
font-weight: 400;
font-style: normal;
}

/* Selector de etiqueta --> todos los h2 van a tener esas caracteristicas */

h2 {
color:white;
font-size:3vw;
}

a{
  text-decoration: none;
}

.header {
background-color: #62828f;
position: sticky;
top:0;
left: 0;
width: 100%;
z-index:9999;
}

nav {
display:flex;
/* Eje principal - ejeX*/
justify-content:space-between;
/* Eje secundario - ejeY*/
align-items: center;
height: 60px;
padding: 0px 50px;
}

#logo {
  font-weight: bold;
}

#logo a{
  color: #FFF;
}
/*Animaci칩n*/
#logo:hover {
animation: tilt-n-move-shaking 0.25s infinite;
}

@keyframes tilt-n-move-shaking {
0% { transform: translate(0, 0) rotate(0deg); }
25% { transform: translate(5px, 5px) rotate(5deg); }
50% { transform: translate(0, 0) rotate(0deg); }
75% { transform: translate(-5px, 5px) rotate(-5deg); }
100% {transform: translate(0, 0) rotate(0deg); }
}

.nav-links {
  display:flex;
  list-style:none;
  gap:30px;
}

.nav-links a:hover {
  color: #b1dd00;
}

.btn-cac{
  background-color: var(--primary-color);
  padding: 10px;
  border-radius: 10px;
  color:#FFF;
}

.btn-cac:hover {
  color: var(--secundary-color);
  border: 2px solid var(--secundary-color);
}

/* Conflicto */
#banner {
  background-image: url('../img/banner-bg.jpg');
  background-size: cover;
  background-position: center;
  height: 60vh;
  box-shadow:inset 0 0 0 2000px rgba(84, 84, 84, 0.5);
}

.container{
/* background-color: var(--secundary-color); */
/* width: 600px;
height: 500px; */
  max-width: 900px;
  padding: 160px 10px;

/* border: 5px solid saddlebrown; */
/* margin: 30px; */
margin: 0 auto;
text-align: center;

}

.d-flex{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.banner-card{
  text-align: center;
  padding: 0px 160px;
}

.banner-card h2{
  margin-bottom: 20px;
}

/* Selector de ID */
#search {
  /*background-color: var(--secundary-color);*/
  height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.search-title{
  color: white;
  font: size 3vw;
}

.imput-search {
  background-color: rgba(255,255,255,0.1);
    border: 2px solid white;
    border-radius: 25px;
    color: white;
    font-size: 16px;
    height: 50px;
    margin: 20px 0px;
    outline: none;
    padding: 0px 20px;
    width: 70%;
    font-family: 'Nunito', sans-serif;
}  

/* CAMBIO CLASE 09 - AGREGO */
/* Selector avanzado */
#popular, #top-rated, #search {
text-align: center;
}

#popular h2,#top-rated h2{
  margin: 30px 0px;
}

.movies-grid{
  display: grid;   
  grid-template-columns: repeat(4,1fr);
  grid-template-rows: repeat(2,1fr);
  justify-items: center;
  row-gap: 20px;
}

.movie-item-detail-subtitle::after{
  content: '游';
}

.movie-item{
  border-radius: 20px;
  overflow: hidden;
  position: relative;
  display: inline-block;
  width: 200px;
  height: 300px;
  font-size: 20px;
  cursor: pointer;
  transition: all 450ms;
  transform-origin: center left;
}

/* CAMBIO CLASE 09 - MODIFICACI칍N */
.movie-item-img{
  width: 200px;
  height: 300px;
  /* Propiedad de imagen que especifica como debe ajustarse dentro de su contenedor.  */
  object-fit: cover; 
}

.movies-scroller{
  overflow-x: scroll;
  overflow-y: hidden;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  padding:0px 0px 40px 0px;
}

.movie-item-v2{
  border-radius: 20px;
  width: 170px;    
  min-width: 170px;
  font-size: 20px;
  cursor: pointer;
  margin-left: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: all 450ms;
  transform-origin: center left;   
}

.wrapper {
  box-shadow: 0 2px 8px rgba(0,0,0,.1);
  border-radius: 10px;
  width: 100%;
  min-height: calc(150px*1.5);
  height: calc(150px*1.5);
  overflow: hidden;
}

.movie-item-img-v2 {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.movie-item-detail-v2 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.movie-item-detail-title-v2 {
  color: white;
  font-weight: bold;
  margin: 5px 0px 0px 0px;
}

.movie-item-detail-title-v2:hover {
  color: #b1dd00;
}

.movie-item-detail-subtitle-v2 {
  color: white;
  font-size: 12px;
  margin: 3px 0px;
}

#footer {
  align-items: center;
  background-color: #62828f;
  display: flex;
  height: 100px;
  width: 100%;
  gap: 20px;
}

#footer a{
  text-decoration: none;
  color: #FFF;
}

/* TABLETS */
@media screen and (min-width:768px) and (max-width:1023px) {
  h2 {
      font-size: 4vw;
  }

  .movies-grid {  
      grid-template-columns: repeat(2,1fr);
      /* grid-template-rows: repeat(4,1fr); */
  }
}

/* CELULARES */

@media screen and (max-width:767px) {
  h2 {
      font-size: 3vw;
  }

  .movies-grid {
      grid-template-columns: repeat(1,1fr); /* 1fr*/
  }

  .logo-text {
      display: none;
  }

  .login-text {
      display:none;
  }

  #footer {
      flex-direction: column;
      justify-content: center;
  }

}

/* Media query para dispositivos m칩viles */
@media screen and (max-width: 576px) {
  /* Estilos espec칤ficos para dispositivos m칩viles */
}

/* Media query para tablets y dispositivos con pantalla m치s peque침a */
@media screen and (min-width: 577px) and (max-width: 768px) {
  /* Estilos espec칤ficos para tablets y dispositivos con pantalla m치s peque침a */
}

/* Media query para pantallas medianas y grandes */
@media screen and (min-width: 769px) {
  /* Estilos espec칤ficos para pantallas medianas y grandes (como computadoras de escritorio) */
}





/* MEDIDAS ESTANDAR */

/* celulares sm - small */
/* @media (min-width:576px) {

} */

/* celulares - tablets - medium */
/* @media (min-width:768px) {

} */

/* tablet - large  */
/* @media (min-width:992px) {

} */

/* Desktop - extralarge */
/* @media (min-width:1200px) {

} */

/* XXL */
/* @media (min-width: 1400px) {

} */
